#title-fundacao,
#title-atividades,
#title-doacao {
    color: #002b80;
    text-align: center;
    padding: 30px;
    padding-top: 100px;
}

p {
    margin: 20px;
    font-size: 15px;
    text-align: justify;
    width: 70%;
    /*padding: 20px;*/
    font-family: 'Lucida Sans';
}

p#p01,
p#p02 {
    float: left;
}

p#p-atividades {
    width: 100%;
    text-align: center;
}

p#p-footer {
    margin: 0;
}

#img-apac-fundacao {
    width: 300;
    height: 150;
    padding: 5px;
}

#img-apac-fundacao-2 {
    width: 300;
    height: 200;
    padding: 5px;
}

.canal-doacao {
    background-color: #eff0f1;
    display: inline-block;
    width: 43%;
    height: 80px;
    margin: 22px;
    padding: 20px;
    text-align: center;
    border: 2px solid #002b80;
    font-family: 'Lucida Sans';
}

.atividade {
    background-color: #eff0f1;
    display: inline-block;
    width: 25%;
    height: 150px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    border: 2px solid #002b80;
}

.atividade:hover {
    background-color: #eff0f1;
    display: inline-block;
    width: 25%;
    height: 200px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    border: 2px solid #002b80;
    transition: all .9s;
}