/*Configuração dos títulos e parágrafos*/

h1.title {
    color: #002b80;
    padding: 20px;
    padding-left: 20px;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
    size: 5px;
}

p {
    padding: 20px;
    font-size: 16.4px;
    text-align: justify;
    font-family: 'Lucida Sans', thin;
    /*font-family: 'Montserrat', sans-serif;*/
    color: dimgrey;
}

a.word-bold {
    color: #3071ba;
    font-family: 'Poppins', sans-serif;
}


/*Configuração da Section Sobre*/

#p01,
#p02 {
    float: left;
    width: 70%;
}

#img-p01 {
    width: 300;
    height: 200;
    padding: 5px;
}

#img-p02 {
    width: 300;
    height: 340;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    #p01,
    #p02 {
        width: 100%;
        margin: 15px;
        display: block;
    }
    #img-p01 {
        margin: 15%;
    }
    #img-p02 {
        margin: 15%;
    }
}


/*Configuração da Section Atividade*/

div#atividades-info {
    margin: 30px;
    display: block;
}

.atividade {
    display: inline-block;
    width: 25%;
    height: 150px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #3071ba;
}

.atividade:hover {
    height: 300px;
    transition: all 1s;
    border: .1px solid #dedede;
}

p.p-box-atividade {
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    color: dimgray;
}

.atividade:hover .img-atv {
    width: 120px;
    height: 60px;
    padding: 5px;
    visibility: visible;
    opacity: 100%;
    transition: all 2s;
}

img.img-atv {
    width: 120px;
    height: 0px;
    padding: 0px;
    visibility: inherit;
    opacity: 0%;
}


/*Configuração da Section Doação*/

.canal-doacao {
    display: inline-block;
    width: 43%;
    height: 130px;
    margin: 22px;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #3071ba;
    border: .1px solid #3071ba;
}

p.p-box-doacao {
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', sans-serif;
    color: dimgray;
}

.canal-doacao:hover {
    transition: all .7s;
    border: .1px solid #dedede;
}