* {
    /* reset das configurações da página */
    margin: 0;
    padding: 0;
}

.header {
    /* configurações do cabeçalho */
    width: 100%;
    background-color: #002b80;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header-logo {
    display: inline-block;
    max-width: 40px;
    max-height: 30px;
    text-align: left;
}

.menu ul {
    list-style: none;
    position: relative;
    background-color: #002b80;
}

.menu ul li {
    /* configurações da lista do menu*/
    display: inline;
    float: left;
}

.menu a {
    /* configurações do link no menu */
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

label[for="btn-menu-responsive"] {
    padding: 5px;
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

#btn-menu-responsive {
    display: none;
}

@media(max-width: 800px) {
    label[for="btn-menu-responsive"] {
        display: block;
    }
    #btn-menu-responsive:checked~.menu {
        margin-left: 0;
    }
    .menu ul li {
        width: 100%;
        float: none;
        background-color: #002b80;
    }
    .menu {
        margin-top: 5px;
        margin-left: -200%;
        transition: all .4s;
    }
    #header {
        background-color: none;
    }
}

.main {
    padding: 50px 0;
}

.institution,
p {
    text-align: center;
}

.content {
    width: 100%;
    margin: auto;
    padding: 30px;
    background-color: #eff0f1;
    height: 1000px;
}

.content h1 {
    margin-bottom: 30px;
}

.footer {
    background-color: #eff0f1;
    text-align: center;
    padding: 50px 0;
}

body {
    padding-top: 80px;
    /* Altura do menu */
}

.header {
    position: fixed;
    top: 0;
}